Code/data_set/
Code/algorithm demo/test.py
Orga/SA_Zeitplan.xlsx
Code/algorithm demo/test2.py
Code/algorithm demo/test3.py
Code/iris detection/genetic_algorithm
Code/iris detection/__pycache__/
Code/algorithm demo/__pycache__/

Code/iris detection/__pycache__/ImageObserver.cpython-39.pyc
Code/iris detection/__pycache__/Iris.cpython-39.pyc
Code/iris detection/__pycache__/Pupil.cpython-39.pyc
Code/iris detection/__pycache__/exceptions.cpython-39.pyc
Code/iris detection/__pycache__/exceptions.cpython-39.pyc
Code/iris detection/__pycache__/Eye.cpython-39.pyc
Code/iris detection/__pycache__/ImageObserver.cpython-39.pyc
Code/iris detection/__pycache__/Iris.cpython-39.pyc
Code/iris detection/__pycache__/Pupil.cpython-39.pyc
Code/iris detection/results/results.csv

Latex/thesis/.DS_Store
